img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#thumbnails img {
  position: relative;
  filter: grayscale(1);
}
.container {
  margin-top: 150px;
  position: relative;
}
#gallery {
  position: relative;
  height: 600px;
  width: 100%;
}
#thumbnails {
  height: 20%;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.fas {
  font-size: 3rem;
  position: absolute;
  left: calc(100% - (25% / 2));
  transform: translate(-50%, 0);
  cursor: pointer;
}

.active {
  display: block;
}

#thumbnails .selected {
  border: 5px solid lightcoral;
  filter: grayscale(0);
}
/* 
.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: grayscale(1);
  z-index: 2; Specify a stack order in case you're using a different order for other elements
  cursor: pointer; /* Add a pointer on hover */
} */
